/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .banner{
  background-color: #F8F9FA;
  height: 60px;
 }
 .map{
  height: 400px;
  width: 100%;
  background-image: url('https://tm.ibxk.com.br/2021/12/20/20095730932072.jpg?ims=1200x675');
  background-size: cover;
  background-position: 0%;
  position: relative;
}
 .banner a{
  text-decoration: none;
 }
 .back-color{
   background-color: #F8F9FA;
 }

 .card-body a{
  text-decoration: none;
 }
 .grey{
  margin: 20px;
  background-color: #F8F9FA;
 }
 .container{
  position: absolute;
  top: 400px;
 }
 .container-flat{
 }
